body {
    margin: 0;
    padding: 0;
    background-color: #909090;
    font-family: sans-serif;
}

/* Section headers */
h2 {
    font-family: serif;
    text-decoration: underline;
}

/* Create sticky banner at the top of the page*/
#page-banner{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #666666; /*dark gray*/
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.4em;
    text-align: center;
    font-size: 18px;
}

/* Allows for sticky header to not overlap section when navigated to */
.nav-destination { 
    display: block; 
    content: " "; 
    margin-top: -152px; 
    height: 152px; 
    visibility: hidden; 
    pointer-events: none;
}

/*Create buttons for the navigation links at the top of the page*/
.nav-button{
    background-color: gray; 
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    color: black;
    padding: 12px 16px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    margin-left: 4px;
    transition-duration: 0.5s;
}

/* Create hover behavior for buttons */
.nav-button:hover {
    background-color: lightgray;
    color: #262626;
}

/* effects all 4 major sections of the resume*/
.resume-section {
    background-color: gray;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.5em;
    border-color: #262626;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    max-width: 900px;
}

/* All subsection headers */
.ss-header{
    margin: 0;
    width: 60%;
    margin-left: 20%;
}

/* All subsection content areas of all resume sections */
.ss-content{
    box-sizing: border-box;
    border-style: solid;
    border-width: .1 em;
    border-color: #333333;
    background-color: #AAAAAA;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.5 em;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 5%;
}

/* Paricularly enlarges the size of content subsections that need more space than 40% */
.oversized-ss-content{
    width: 60%;
    margin-left: 20%;
}

/* Paricularly shrinks the size of content subsections that need less space than 40% */
.small-ss-content{
    width: 30%;
    margin-left: 35%;
}
